<!doctype html>
<html lang="en">
  <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
  <title>Phone Number Formatter</title>
  </head>
  <body class="bg-light">
    <div class="container">
    
      <div class="py-5 text-center">
        <h2>Phone Number Formatter</h2>
        <p class="lead">Format the user input to standard international and national phone number format.</p>
      </div>
      <form class="block">
        <label for="phone-number">Enter a phone number</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="phone-number" placeholder="1800686153" required aria-label="" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" id="get-phone-number" type="submit">Format Phone Number</button>
          </div>
          <div class="invalid-feedback">
            Please enter a phone number.
          </div> 
        </div>
      </form>
      
      <div id="formatted-number"></div>
      <div id="storm-loader"></div>
      <div id="storm-overlay"></div>

      
      <hr class="mt-5">
      <footer class="mb-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2018 </p>
      </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'phonenumber.js') }}" ></script>
  </body>
</html>
